.background {
  background-image: url(./images/Background.svg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;
}

:root {
  --primary-color: #4d85d8;
  --secondary-color: #4d85d8;
  --font-family: "Roboto";
  --text-color: #000;
  --text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  --border-radius: 20px;
}
.content {
  padding: 3rem;
}

.body {
  overflow-x: hidden;
}
