.divineeCover {
  background: url(../images/DivineeCover.jpg) no-repeat;
  background-size: cover;
  height: max(600px, 100vh);
  width: auto;
}

.container {
  flex: 1;
  padding-top: 25%;
  align-content: center;
  vertical-align: middle;
  text-align: center;
}

.mainText {
  font-family: "Courier New";
  font-size: max(6vw, 40px);
}

.subHeading {
  font-family: monospace;
  font-size: max(1.5vw, 12px);
  padding-bottom: 5vh;
}
